<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incomes List</title>
</head>
<body>
    <h1>Income list</h1>
    <a href="{% url 'create_income' %}"><button class="btn btn-danger"> Добавить </button></a>
    <ul>
        {% for income in incomes %}
        <a href="{% url 'income_detail' income.id %}"><li>{{income.source}} : {{income.amount}}</li></a>
        {% endfor %}
    </ul>
    
</body>
</html>